$color-mercury: #E5E5E5;
$color-white: #fff;
$color-black: #000;
$color-gallery: #EEEEEE;
$color-silver-chalice: #A9A9A9;
$color-dodger-blue: #276EF1;
$color-cardinal: #FF2323;
$color-alabaster: #F8F8F8;
$color-mine-shaft: #212121;
$borderRadius: 4px;
$color-cornflower-blue: #0F57DD;
$color-mirage: #162031;
$color-recent-gray: #828997;

// fonts
$font-global: Ubuntu, sans-serif;
$font-global-medium: Ubuntu-medium, sans-serif;
$font-global-bold: Ubuntu-bold, sans-serif;

// font-size
$font-size-base: 14px;
$font-size-xlg: 16px;
$font-size-dd: 20px;
$font-size-lg: 15px;
$font-size-ml: 13px;
$font-size-md: 12px;
$font-size-sm: 11px;
$font-size-large: 11px;
$font-size-huge: 22px;
$font-size-icon: 8px;

$font-size-h1: 22px;
$font-size-h2: 16px;
$font-size-h3: 14px;
$font-size-h6: 8px;
